<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuranMajeed"
        tools:targetApi="31">
        <activity
            android:name=".DisplaySurah"
            android:exported="false" />
        <activity
            android:name=".TakeAyat"
            android:exported="false" />
        <activity
            android:name=".SurahNamesActivity"
            android:exported="false" />
        <activity
            android:name=".QuranActivity"
            android:exported="false"
            android:label="@string/title_activity_quran"
            android:theme="@style/Theme.QuranMajeed" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>